*{
   
}
#container{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 10vw;
    height: fit-content;
   

}
.container-section{
   /* background-color: rebeccapurple;*/
    text-align: center;
    width: 75%;
    padding-inline: 50px;
    margin-top: 20px;
    font-size: 1.2rem;
   
   
}
.tarjeta-persona{
    width: 40%;
    height: auto;
    margin: auto;
   /* background-color: red;*/
    padding: 10px 25px;
    margin-top: 15px;
    border: solid 1px;
    border-radius: 20px;
    box-shadow: inset;
}
.tarjeta-nombre{
    text-align: left;
    font-weight: 600; 
}
.tarjeta-cargo{
    text-align: right;
}
.animal{
    display: flex;
    padding: 20px;
    

}
.animal img{
    object-fit: cover;
    width: 25vw;
    
}
.animal > div{
    margin-left: 20px;
    padding-inline: 30px;
    text-align: left;
    background-color: antiquewhite;
    width: fit-content;
    position: relative;
    
}
.animal a{
    margin-left: 20px;
    text-align: right;
    position: absolute;
    right: 60px;
    bottom: 50px;
    
}