@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
}
#carrito_compras{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-X: hidden;
    overflow-y: scroll ;
}
#carrito_compras img{
   width: 20%;
}
.item{
    background-color: yellow;
    display: flex;
    justify-content: left;
    
    margin: 20px 0px;
}
.item div {
    margin-left: 10px;
}