
.menu {
    background-color: aqua;
    padding-right: 50px;
    /*display: flex;
    align-items: center;*/
}
.menu a{
    padding: 5px;
    text-decoration: none;
}
.menu a{
    padding: 5px;
    text-decoration: none;
}

#header {
    
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: darkslategray;

}

#header img {
    width: 200px;
    padding-left: 50px;


}

