@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: magenta;
   
   
    
}
#banner-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    
}
#banner-servicios div {
   /* border-bottom: 2px solid #4C3D3D;
    width: 80%;
    margin: 20px auto;*/
    position: relative;

   
    
    
}
#banner-servicios div > p,h5 {
    /* border-bottom: 2px solid #4C3D3D;
     width: 80%;
     margin: 20px auto;*/
     padding-top: 15px;
    
     
     
 }
 

#banner-servicios div>div::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(50% / 2); /* Ancho del borde en relación con el padre */
    height: 2px; /* Grosor del borde */
    background-color: #000; /* Color del borde */
}
#banner-servicios img{
   
    height: auto;
    width: 120px;
    
}
#main-tienda{
    background-color: #FFF7D4;
    max-width: 80vw;
   
    display: block;
    margin: auto;
}
#contenido-tienda{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#cabecera-tienda h2{
    
    width: fit-content;
    transform-origin: center;

    margin:auto;
}
.manga-tienda img{
    width: 75%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px 0px;
}
.manga-tienda button{

    background-color: #4C3D3D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    width: 80%;
    height: 50px ;
    margin: 5px auto;
    cursor: pointer;
    border-radius: 4px;
}

.manga-tienda {
    
   /* width: 300px;*/
    flex-basis: calc(85%);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 20px;
}
.manga-info{
   
    padding-left: 13px;
   
    width: 75%;
    margin: auto;

}
/* Estilos para el tercer párrafo */
.manga-info h4{
    color: #4C3D3D;
    font-size: 1.2rem;
    font-weight: 600;

}
.manga-info p:nth-child(2) {
    font-weight: 300;
}
.manga-info p:nth-child(3) {
    font-weight: 500;
   
}

.noticias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 40vh;
    margin: 30px 10px;
}
.noticias-imagen-multiple{
    width: 33%;
    height: auto;
    background-color: yellow;
    display: flex;
    position: relative;
   

}
.background-imagen-multiple{
    width: 25%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.noticias-imagen-multiple::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    width: 99.4%;
    height: 97.5%;
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo con opacidad */
    z-index: 0; /* Asegura que esta capa esté detrás del texto y las imágenes */
}
.noticias-info{
    position: absolute;
    top: 25%; /* Ajusta la posición vertical según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1;
}
.noticias-info a{
    text-decoration: none;
    
    border-bottom: 2px solid;
    font-weight: 400;
    color: #FFF7D4;
}
.background-imagen-multiple:nth-child(1) {
    background-image: url("/images/mangas/gantz_05.jpg");
   
    
}
.background-imagen-multiple:nth-child(2) {
   background-image: url("/images/mangas/hunter_x_hunter_29.jpg");
   
    
}
.background-imagen-multiple:nth-child(3) {
    background-image: url("/images/mangas/zelda_art.jpg");
    
}
.background-imagen-multiple:nth-child(4) {
    background-image: url("/images/mangas/vagabond_25.jpg");
    
}

/* Pantallas boostrap
pantalla small 576
pantalla  medium 768
pantalla large 992
pantalla extra large 1200
pantalla extra extra large 1400*/

@media (min-width:756px){
    .manga-tienda {
       
        flex-basis: calc(33.33%);
       
        
    }
   


}
@media (min-width:1200px){
    .manga-tienda {
       
        flex-basis: calc(25%);
       
        
    }
   


}
